<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'poetry/css/style.css' %}">
    <title>Poetry</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-success text-bg-success">
        <div class="container">
          <a class="navbar-brand text-white" href="{% url 'poetry:index' %}"><b>POETS</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active  text-white" aria-current="page" href="{% url 'poetry:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'poetry:form' %}">Add Poets</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% block body_block %}{% endblock body_block %}

     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>