<!DOCTYPE html>
{% extends "poetry/base.html" %}
{% load static %}


{% block body_block %}
 <div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="div">
                <a class="btn btn-success px-4 py-2" href="{% url 'poetry:index'%}">Back To Home</a>
            </div>
        </div>
    </div>
 </div>

 <div class="container">
    <div class="row ">
        <div class="col-12 d-flex justify-content-center my-3">
            <h3 class="d-inline text-bg-success py-2 px-3 ">{{form_head}}</h3>
        </div>

       <div class="col-6 m-auto mb-4">
        <form action="" method="POST">
            {{musicican_form}}
            {% csrf_token %}
            <div class="col-12 text-center">
                <input type="submit" class="btn btn-success fs-5 fw-bold px-5">
            </div>
        </form>
       </div>
    </div>
 </div>

{% endblock body_block %}
